
:root
{
   font-size: 30%;
}
/* nav-bar */
#navbar {
   display: none;
}
/* navbar1 */
#navbar1 {
   display: flex;
   box-shadow: .09px .09px 0px .036px rgba(197, 197, 197, 0.466);
}
.navbar1center{
   margin-left: 39px;
}
.fa-bars
{
   margin: 7.5px;
   margin-left: 4.5px;
}
.navbar1btn{
   margin: 6px;
   margin-top: 10.5px;
}
.navbar1btn a{
   font-weight: bold;
   letter-spacing: .45px;
   margin-top: 0px;
   padding: 3.6px;
   width: 37.89px;
   border: 1.2px solid rgb(0, 0, 0);
}
.navbar1btn a:hover{
 border-radius: .75px;
}
#navbar1 ul {
   padding:3px 0px;
   padding-top: 1.5px;
}

#navbar1 ul li {
   padding: 1.2px;
}

#navbar1 ul li a {
  text-shadow: .09px .09px rgb(126, 38, 3);
}

/* nav-bar animation */
#navbar1 ul li a::before {
   border-top: .6px solid rgb(255, 255, 255);
   border-left: .6px solid rgb(255, 255, 255);
}

#navbar1 ul li a::after {
   border-bottom: .6px solid rgb(255, 255, 255);
   border-right: .6px solid rgb(255, 255, 255);
}

/* hover effect */
#navbar1 ul li a:hover::after,
#navbar1 ul li a:hover::before
 {
   width: 1.8px;
   height: 1.57px;
}
#navbar1 ul li .active1::after,
#navbar1 ul li .active1::before
{
   width: 1.8px;
   height: 1.57px;
}
#navbar1 ul li .active1
{
   text-shadow: .15px .15px rgb(248, 223, 81);
}
#navbar1 ul li a:hover {
   text-shadow: .15px .15px rgb(248, 223, 81);
}
/* Logo */
#logo1 img {
   height: 29px;
   width: 29px;
   margin: .24px;
   margin-left: 4.8px;
}


/* Home */
#home {
   height: 420px;
   box-shadow: inset 0px 0px 0px 14px rgb(241, 255, 230);
}

/* slider */
.slider {
   height: 420px;
}

.slides {
   height: 420px;
}

/*css for manual slide navigation*/

.navigation-manual {
   bottom: 19px;
}

.manual-btn {
   border: .45px solid #40D3DC;
   padding: 3px;
}

.manual-btn:not(:last-child) {
   margin-right: 5px;
}
.manual-btn:hover {
   background: transparent;
}
/*css for automatic navigation*/

.navigation-auto {
   bottom: 19px;
}

.navigation-auto div {
   border: .4px solid #40D3DC;
   padding: 3px;
}

.navigation-auto div:not(:last-child) {
   margin-right: 5px;
}

#home h1 {
   font-size: 3rem;
}

.imagetext {
   font-size: 3rem;
   letter-spacing: .2px;
   margin-bottom: 10px;
}

#btn {
   font-size: 2rem;
   font-weight: bold;
   letter-spacing: .2px;
   margin-top: 60px;
   padding: 6px;
   border: 3px solid white;
}

#btn:hover {
 border-radius: .75px;
}

/* welcome */
#welcome {
   grid-template-columns: 1fr 1fr;
   padding-bottom: 7.5px;
}


/* welcometext1 */
.welcometext {
   padding: 4px 9px;
}

.welcometext h2 {
   font-size: 5rem;
   height: 35px;
   width: 120px;
   border-bottom: 1.5px solid black;
}

.welcometext h2::before {
   width: 120px;
   bottom: 1.2px;
   border-bottom: 1.2px solid rgb(0, 0, 0);
}

.firstpara {
   font-size: 2.2rem;
   margin-top: 3.7px;
}

.secondpara {
   margin-top: 11.25px;
}

.welcometext a {
   letter-spacing: .3px;
   margin-top: 15px;
   padding: 3.6px;
   width: 56px;
   border: 1.2px solid rgb(0, 0, 0);
}

.welcometext a:hover {
   border-radius: .75px;
}

/* welcometext2 */
.welcometext1 {
   padding: 0px 0px 0px 0px;
   padding-right: 9px;
}

.welcometext1 h2 {
   font-size: 3.5rem;
   height: 25px;
   width: 114px;
   border-bottom: 1.5px solid black;
}

.welcometext1 h2::before {
   width: 114px;
   bottom: 1.2px;
   border-bottom: 1.2px solid rgb(0, 0, 0);
}

/* welcometext2 */
.welcometext2 {
   padding: 7.5px 15px;
}

.welcometext2 h2 {
   font-size: 3.5rem;
   height: 25px;
   width: 148px;
   border-bottom: 1.5px solid black;
}

.welcometext2 h2::before {
   width: 148px;
   bottom: 1.2px;
   border-bottom: 1.2px solid rgb(0, 0, 0);
}

.welcomeimg {
   margin-top: 7.5px;
}

.welcomeimg img {
   height: 30vw;
}

/* Menu */
#menu-container {
   padding: 0px 30px;
   padding-bottom: 15px;
   padding-top: 3.75px;
}

#menu-container h2 {
   font-size: 5rem;
   height: 36px;
   width: 68px;
   border-bottom: 1.5px solid rgb(0, 0, 0);
   margin-bottom: 2.35px;
}

#menu-container h2::before {
   width: 68px;
   bottom: 1.2px;
   border-bottom: 1.2px solid rgb(0, 0, 0);
}

#menu-container>p {
   font-size: .9rem;
}

.menuitem {
   height: 26.25px;
}

.menuitem h4 {
   padding: 2.25px 0px;
   padding-left: 11.25px;
   font-size:1.8rem;
   border: .94px solid black;
   height: 18.75px;
   margin-top: 7.5px;
}

.menuitem h4::before {
   left: 1px;
   width: 15px;
   height: 15px;
}

.hovereffect:hover {
   height: 86px;
}

.item {
   display: flex;
   justify-content: left;
   margin-top: 7.5px;
   padding-bottom: 1.2px;
   margin-left: 3.75px;
}

.item h5 {
   font-size: 1rem;
   width: 90px;
   margin-top: .3px;
}

.item .dot {
   bottom: -1px;
   border-bottom: .47px dotted rgba(189, 189, 189, 0.699);
}

.item .menuorder {
   width: 30px;
   font-size: .7rem;
}

.item .menuorder:hover {
   font-size: .8rem;
}

.item .price {
   font-size: .8rem;
}

.item img {
   height: 9.87px;
   margin-right: 2.35px;
}

.item p {
   font-size: .6rem;
   margin-top: .2px;
}

/* Event */
#event-container {
   padding-bottom: 15px;
}

#event-container h2 {
   text-shadow: .3px .3px 1.5px rgb(0, 0, 0);
   height: 38px;
   width: 105px;
   border-bottom: 1.5px solid rgb(255, 255, 255);
   margin-bottom: 3.6px;
}

#event-container h2::before {
   width: 105px;
   bottom: 1px;
   border-bottom: .47px solid rgb(255, 255, 255);
}

#event .eventitem {
   margin:2.5vw;
   box-shadow: 0px 0px 0px 2.2px rgb(255, 255, 255);
}

#event .eventitem img {
   width: 90px;
   height: 90px;
}

#event .eventitem div {
   width: 80px;
   height:  80px;
   text-shadow: .6px .6px .6px rgb(44, 44, 44);
}

#event .eventitem div::before {
   width:  80px;
   height:  80px;
   border: 1.5px solid rgb(255, 255, 255);
}
#event .eventitem P {  
   font-size: 2.8rem;
}
#event .eventitem a {
   font-size: 1rem;
   letter-spacing: .2px;
   width: 47px;
   margin-top: 40px;
   border: 1.7px solid rgb(255, 255, 255);
   text-shadow: .18px .18px .18px rgb(44, 44, 44);
   box-shadow: .03px .03px .1px rgb(44, 44, 44);
   z-index: 0;
   padding: 2px;
}

#event .eventitem a:hover {
   border-radius: 1.2px;
   text-shadow: 0px 0px 0px;
}
#event .eventitem:hover>a {
   z-index: 0;
   padding: 2.2px;
}
#event .eventitem div p {
   margin-bottom: 22.5px;
}
#event .eventitem:hover>div p {
   margin-bottom: 22.5px;
}

/* gallery */
#gallery {
   padding-bottom: 7.5px;
   padding-top: 3.7px;
}

#gallery h2 {
   height: 38px;
   width: 118px;
   margin-bottom: 7.5px;
   border-bottom: 1.5px solid black;
}

#gallery h2::before {
   width: 118px;
   border-bottom: 1.2px solid rgb(0, 0, 0);
}

#gallery-container {
   grid-gap: 3.4vw;
}

.griditem a::before {
   height: 75px;
   width: 75px;
   border: 1.8px solid rgb(255, 255, 255);
   background-size: 0px 0px;
}

.griditem a:hover:before {
   background-size: 0px 0px;
}
.griditem:hover {

   filter: opacity(100%)
}

#gallery-container .griditem img {
   height: 90px;
   width: 90px;
}

#gallery>a {
   letter-spacing: .2px;
   margin-top: 4.7px;
   padding: 2.2px;
   width: 80px;
   border: .75px solid rgb(0, 0, 0);
}

#gallery>a:hover {
   border-radius: .74px;
}

#gallery>a img {
   margin-left: 3px;
   height: 7px;
   width: 7px;
}

/* Our chef */

#aboutchef {
   padding: 7.5px 15px;
}

#aboutchef h2 {
   font-size: 3.8rem;
   height: 27px;
   width: 90px;
   border-bottom: 1.5px solid black;
}

#aboutchef h2::before {
   width: 90px;
   bottom: 1.2px;
   border-bottom: 1.2px solid rgb(0, 0, 0);
}

#aboutchef .firstpara {
   margin-top: 3.75px;
   font-size: 2rem;
}
#aboutchef .secondpara {
   margin-top: 11.2px;
   font-size: 1.5rem;

}

#aboutchef a {
   font-size: 1.2rem;
   font-weight: bold;
   letter-spacing: .4px;
   margin-top: 15px;
   padding: 3.6px;
   width: 70px;
   border: .47px solid rgb(0, 0, 0);
}
#aboutchef a:hover {
   border-radius: .75px;
}

#aboutchef a img {
   margin-left: 3px;
   height: 7px;
   width: 7px;
}

#ourchef {
   margin-top: 7.4px;
}

#ourchef img {
   height: 150px;
}

/* reservation */
#reservation-container {
   background-attachment: fixed;
  }

#reservation {
   height: 110px;
}

#reservation h2 {
   border-bottom: 1.5px solid rgb(255, 255, 255);
   margin: 0px;
}

#reservation h2::before {
   width:121px;
   bottom: 1.2px;
   border-bottom: 1.2px solid rgb(255, 255, 255);
}

#reservation p {
   margin-top: 7px;
}

#reservation .topmargin {
   margin-top: 5px;
}

#reservation div a {
   letter-spacing: .4px;
   margin: 3px;
   font-weight: bold;
   padding: 3.6px;
   width: 59px;
   border: 1.8px solid rgb(255, 255, 255);
}

#reservation a:hover {
   border-radius: .75px;
}

/* footer */
footer {
padding:7.5px;
padding-top: 4px;
}
#foot-container .footitem {
   padding: 15px;
}

.footitem h4 {
   line-height: 11.4px;
}
.footitem p {
   font-family: serif;
   font-size: 1rem;
}
#social-container {
   height: 15px;
}

#social-container li {
   height: 10.5px;
   width: 10.5px;
   padding: 1.8px;
   margin: 3px;
   border: .75px solid rgba(0, 0, 0, 0.144);
}

#social-container li:hover>a img {
   height: 5.5px;
   width: 5.4px;
}

#social-container li a img {
   height: 5.5px;
   width: 5.4px;
   margin-top: 1px;
}

#cpyryt {
   padding: 1.88px 0px;
}

/* contact */
#contact {
   background-color: rgb(250, 250, 250);
   padding-bottom: 3.6px;
}
#contact .contactgriditem1 {
   margin-left: 15px;
   margin-right: 15px;
}

#contact .contactgriditem1 h2 {
   height: 23px;
   width: 107px;
   border-bottom: 1.5px solid black;
   margin: 3px;
}

#contact .contactgriditem1 h2::before {
   width: 107px;
   bottom: 1.2px;
   border-bottom: 1.2px solid rgb(0, 0, 0);
}

#contact .contactgriditem2 h2 {
   height: 23px;
   width: 68px;
   border-bottom: 1.5px solid black;
   margin: 3px;
}

#contact .contactgriditem2 h2::before {
   width: 68px;
   bottom: 1.2px;
   border-bottom: 1.2px solid rgb(0, 0, 0);
}
#contact .contactgriditem2 iframe{
   height: 120px;
   width: 120px; 
}

#contact .contactgriditem1 p {
   margin-bottom: 4.7px;
}
#contact .contactgriditem1 input {
   height: 15px;
   margin-bottom: 4.7px;
   padding: .74px;
   border-radius: 1.4px;
   border: .01px rgb(146, 146, 146) inset;
   box-shadow: none;
   outline: none;
   caret-color: rgba(53, 53, 53, 0.199);
}

#contact .contactgriditem1 textarea {
   height: 32.9px;
   padding: .75px;
   border-radius: 1.4px;
   border: .01px rgb(146, 146, 146) inset;
   box-shadow: none;
   outline: none;
   caret-color: rgba(53, 53, 53, 0.199);
}

#contact .contactgriditem1 label {
   margin-bottom: .75px;
}

#contact .contactgriditem1 button {
   letter-spacing: .4px;
   margin-top: 7.5px;
   padding: 3.6px;
   width: 55px;
   border: 1.2px solid rgb(0, 0, 0);
}

#contact .contactgriditem1 button:hover {
   border-radius: .74px;
}

/* reservation */
#reservationform {
   padding: 7.5px 30px;
}

#reservationform h2 {
   height: 25px;
   width: 167px;
   border-bottom: 1.5px solid black;
   margin: 1.8px;
}

#reservationform h2::before {
   width: 167px;
   bottom: 1.2px;
   border-bottom: 1.2px solid rgb(0, 0, 0);
}

#reservationform p {
   font-size: .8rem;
   margin: 2px;
}

#reservationform input {
   font-size: 1rem;
   width: 80px;
   height: 15px;
   margin: 7.5px;
   padding: 1.5px;
   border-radius: 2.2px;
   border: .01px rgba(146, 146, 146, 0.609) inset;
   box-shadow: none;
   outline: none;
   caret-color: rgba(53, 53, 53, 0.199);
}

#reservationform textarea {
   font-size: 1rem;
   width: 150px;
   height: 40px;
   margin: 7.4px;
   padding: 1.2px;
   border-radius: 2.2px;
   border: .01px rgb(146, 146, 146) inset;
   box-shadow: none;
   outline: none;
   caret-color: rgba(53, 53, 53, 0.199);
}

#reservationform button {
   margin: 0px 20vw;
   letter-spacing: .4px;
   margin-top: 7.5px;
   padding: 3.6px;
   border: 1.2px solid rgb(0, 0, 0);
}

#reservationform button:hover {
   border-radius: .75px;
}
