/* Navigation */
#navbar{
   flex-direction: column;
}
#navbar ul li{
   
    font-size: 1.8rem;
    margin-right:1rem;
    margin-left:1rem;
   }
   #navbar ul li a{
    padding: 5px 9px;
   }
 /* logo */
#logo
{
    margin:3px;
    margin-right: 80px;
}
#logo img
{
  height: 70px;
}
#logotext
{
   font-size: 3rem;
}
/* Home */
#home{
 height:283px;
}
#home::before{
 height:800px;
}
/* Service */
#service-container::before
 {
    filter:blur(2px);
 }
#idservice
{
  flex-direction: column;
}
#idservice .box p{
    font-size: 1.7em;
}
#idservice .box{
    padding:10px 100px;
    margin: 1px 119px;
    margin-top: 40px;
}
#idservice .box img{
    height:150px;
}
/* cilent */
#client-container::before
 {
    filter:blur(2px);
 }
#client{
    flex-wrap: wrap;
    height: 100%;
}
.client-item{
    padding: 20px;
    margin: 14px 14px;
}
#client img{
   height: 80px;
}
/* contact */
#contact-box{
    height: 10%;
}
#contact-box button
{
    font-size: 1.5rem;
    padding: 8px;
    margin-top: 15px;
}
#contact::before{
    filter:blur(2px);
 }
#contact-box form{
    width: 55%;
}
#contact-box input,
#contact-box textarea{
    font-size: 1.8rem;
    height: 60%;
}
#contact-box label{
    font-size: 2rem;
}
/* footer */
footer{
    font-size: 1.5rem;
}
/* ulitity */
.hprimary{
    font-size: 3rem;
}
.hsecondary{
    font-size: 3.5rem;
    padding: 4px; 
}
.hthird{
    font-size: 2rem;
}
#home p
{
    font-size: 1rem;   
}
.btn{
    padding: 8px 10px;
    border: 5px solid white;
    font-size: 1.2rem;
}